/*
 * Index.css: styling for the index page.
 * Currently very simple, mostly just the loading animation.
 */

#results {
  display: none;
  padding-top: 2em;
}

#loading {
  display: none;
  width: 50%;
  margin: auto;
  padding: 10px 0px 10px 0px;
  font-size: 5em;
}

#error {
  display: none;
}

#target {
  width: 70%;
  margin-top: 20px;
}

#options {
  width: 60%;
}

#slider {
  width:100%;
}

body {
  width: 50%;
  margin: auto;
}

span.mentionsTrigger {
  color: #00F;
  cursor: pointer;
  text-decoration: underline;
}

@media(max-width: 1000px) {
  #target {
    width: 35%;
  }

  #options {
    width: 30%;
  }

  body {
    width: 100%;
  }
}

@media(min-width: 600px) {
  #results {
    clear: both;
    column-count: 2;
  }

  /*
   * Insane trick to align columns in CSS
   * Seriously, why do I have to do this for columns to start at the same place?
   */
  #unrelatedContainer,#relatedContainer {
    border: 1px solid transparent;

    /* Make sure columns do not break within containers */
    overflow: hidden; /* Fix for firefox and IE 10-11  */
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid; /* IE 10+ */
    break-inside: avoid-column;

  }
}
