/*
 * Index.css: styling for the index page.
 * Currently very simple, mostly just the loading animation.
 */

#results {
  display: none;
}

#loading {
  display: none;
  width: 50%;
  margin: auto;
  padding: 10px 0px 10px 0px;
  font-size: 5em;
}

#error {
  display: none;
}

#target {
  width: 70%;
}

body {
  width: 50%;
  margin: auto;
}

@media(max-width: 1000px) {
  #target {
    width: 35%;
  }

  body {
    width: 100%;
  }
}
